@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2rem;
    font-family: 'Salsa', cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: purple;
}

.output{
    font-size: 1.6rem;
    font-family: 'Salsa', cursive;

    color: black;
    /* background-color: red; */

    margin-bottom: 20px;
}

.game-board{
    width: 335px;
    height: 335px;

    border: 2px solid gray;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(109px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(109px, 1fr));

}

.btn{
    border: 1px solid gray;

    font-size: 2.5rem;
    background-color: white;
}

button{
    cursor: pointer;
}

.buttons-container{
    margin-top: 30px;
}

.restart{
    border-radius: 5px;
    border: 0px solid transparent;

    color: white;
    background-color: purple;
    padding: 0.8rem;
}